
<!-- Page Content -->
<section class="py-5">
  <div class="container">
    <h1 class="fw-light">Full Page Image Slider</h1>
    <p class="lead">The background images for the slider are set directly in the HTML using inline CSS. The images
      in this snippet are from </p>
  </div>
</section>
