@import "~bootstrap/scss/bootstrap.scss";

td {
  font-size: 16px;
  text-padding : 0.2px;
  text-decoration : bold;
  border: 2px;
  border-style: dashed;
}

#container-blog {
    column-count:1;


    background-color: yellow;
    -moz-column-count:2;
    width:200px;
    height:170px;
    left-margin: 50%;
    right-margin: 50%;
}
#tbl {
  background-color: yellow;
}

#non-editable {
  pointer-events: none;
}

.center {
  margin-left: auto;
  margin-right: auto;
  border: 3;
}


body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
header {
  background-color: #666;
  padding: 20px;
  text-align: center;
  font-size: 15px;
  color: white;
}

/* Create two columns/boxes that floats next to each other */
nav-edit {
  float: top;
  width: 30%;
  background: #ccc;
  padding: 20px;
}

article {
  text-align: center;
  float: center;
  padding: 20px;
  width: 100%;
  background-color: #f1f1f1;
  height: 300px; /* only for demonstration, should be removed */
}

/* Style the footer */
footer {
  position: fixed;
  margin:0 auto;
  height:auto;
  background-color: #777;
  text-align: center;
  color: white;
  bottom: 0px;
  overflow:hidden;
  width: 100%;
}

tooltip {
    background-color:#000;
    border:1px solid #fff;
    padding:10px 15px;
    width:200px;
    display:none;
    color:#fff;
    text-align:left;
    font-size:12px;

    /* outline radius for mozilla/firefox only */
    -moz-box-shadow:0 0 10px #000;
    -webkit-box-shadow:0 0 10px #000;
}