<% if !@microposts.nil? %>

  <h1>Microposts</h1>
    <div id="container-blog">

      <table id="tbl" border="3">
        <% @microposts.each do |micropost| %>
          <tr>
            <td>
              <%= micropost.content %>
            </td>
          </tr>
          <% end %>

      </table>
  <%= link_to 'Back', new_micropost_path %>

<% else
  flash[:danger] = "Please Login"
  redirect_to login_url
end %>

